.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer-change
{
  padding-bottom: 7%;
}


.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .dhrupad
  {
    font-size: 1em;
  }

  .home-body
  {
    font-size: 2em;
  }

  .home-heading
  {
    font-size: 4em !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #021310 !important;
}

.head-padding
{
  padding-right: 98%;
}

.body-padding
{
  padding-right: 5%;
}

.navbar-brand{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:50px;
  padding-left: 20%;
}

.navbar-brand-rishabh{
  padding-top: 6px !important;
}

.navbar-brand-blogs{
    
    font-family: 'Ms Madi', cursive;
    font-size:50px;
    color: #0e63ec;
}



.footer-padding {
	padding-bottom: 0%;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #689cef;
  font-size: 1em;
}

.footer p {
	margin-top: 25px;
  font-size: x-large;
  font-family: 'Roboto Mono', monospace;  
  color: rgb(14, 11, 11);
}
