<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dhrupad Blogs</title>
  <meta charset="utf-8">
  <div class="h-14 bg-gradient-to-r from-cyan-500 to-blue-500"></div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" type="image/png" href="images/writing.png">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <nav class="navbar navbar-default bg-gradient-to-t">
<div>
<div class="container head-padding">
      <div class="navbar-header">
                <span class="navbar-brand">Only</span>
      </div>
      <div class="navbar-brand-rishabh">
        <span class="navbar-brand-blogs">Blogs</span>
</div>
</div>

<div class="body-padding animate-bounce">
  <ul class="nav navbar-nav navbar-right animate-bounce">
    <!-- 6 -->
    <li id="home"><a href="/">HOME</a></li>
    <li id="about"><a href="/aboutus">ABOUT US</a></li>
    <li id="contact"><a href="/contactme">CONTACT US</a></li>
    <li id="compose"><a href="/compose">COMPOSE</a></li>
    <li id="post"><a href="/posts">POSTS</a></li>
  </ul>
</div>    
        
    </div>
  </nav>

  <body>
    <div class="container footer-change">
  </div><body>
