*{
  margin:0;
  padding:0;  
}
nav ul{
    list-style: none;
    font-size: 23px;
}
nav{
    height: 30px;
    background-color: rgb(17, 108, 77);
    color: aliceblue;
    display:flex;
    align-items: center;
    padding: 0 12px;
}

.gamecontainer{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
.container{
    display:grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: sans-serif;
}

.box{
    border: 2px solid black;
    font-size: 100px;
    display:flex;
    justify-content: center;
    flex-shrink: 30;
}
.box:hover{
    background-color: rgb(167, 91, 238);
}

.gameinfo{
    padding-left: 50px;
}
.imgbox img{
    width: 0;
    height: 0;
}
.br-0{
    border-right:0;
}
.bl-0{
    border-left:0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}