<%- include("header") -%>

<h1>Login</h1>
<form action="/login" class="form" method="post">
    <input placeholder="email" autocomplete="off" name="email"/>
    <input placeholder="password" autocomplete="off" type="password" name="password"/>
    <button name="title" value="<%title%>" class="animate-pulse antialiased border border-slate-300 transition ease-in-out bg-slate-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:animate-none" style="font-size: x-large;font-weight: 600;display:block;text-align:center;padding:2px 50px;background-color:transparent;border-radius: 8px;" type="submit">Go</button>
</form>

<%- include("footer") -%>
