<%- include("header") -%>

<h1 class="title">Passwords Page</h1>
<form method="post" class="form" action="/passwords">
    <input autocomplete="off" name="website" placeholder="website" />
    <input autocomplete="off" name="password" placeholder="password" />
<button name="name" value="<%=name%>" class="animate-pulse antialiased border border-slate-300 transition ease-in-out bg-slate-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:animate-none" style="font-size: x-large;font-weight: 600;display:block;text-align:center;padding:2px 50px;background-color:transparent;border-radius: 8px;" type="submit">Add a password</button>
<a href="/loginPass">View My Passwords</a>
</form>
<%- include("footer") -%>   