<!DOCTYPE html>
<head>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&family=DM+Sans:wght@400;700&family=Montserrat&family=Overpass:wght@400;500;700&family=Roboto:wght@300;400;900&family=Ubuntu+Mono:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    Passwords
  </title>
  <style>
    h1{
      text-align: center;
      font-family: 'BioRhyme', serif;
      font-size:xx-large ;
      margin-bottom: 2.5%!important;
    }
    body{
      background-color: hsl(222.22,47.37%,11.18%);
      color: whitesmoke;
      height: 100%;
      padding: 0 3%;
      font-family: 'Roboto', sans-serif;
    }
      table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    .tab{
      margin-top: 5%!important;
    }
    td, th {
      border: 1px solid whitesmoke;
      text-align: center;
      padding: 8px;
    }
    .heading{
      font-family: 'BioRhyme', serif;
      color: azure;
    }
  </style>
</head>
<body>
  
<div class="tab">
  <h1 class="animate-pulse">Saved passwords</h1>
<table>
    <tr>
      <td class="heading">Website</td>
      <td class="heading">Password</td>
    </tr>
    <%for(var i=0;i<websites.length;i++){%>
      <tr>
        <td><%=websites[i]%></td>
        <td><%=passwords[i]%></td>
      </tr>
     <%}%>
  </table>
</div>

</body>
</html>




